
/* google font */

 .open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared Style */
.secondary_bg{
  background-color: #FFF8F3;
}
.text_primary{
  color: #fd6e0a;
}
.text_center{
  text-align: center;
}
.dark_2{
  color:#474747 ;
}
.btn_primary{
  border-radius: 5px;
  background: rgb(253, 110, 10);
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 28px;
  border: none;
  cursor: pointer;
}
.section_title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section_description{
  font-size: 18px;
  color: #757575;
}

/* Header Styles */
.header{
  background-image:url('../images/developer.png'), url('../images/header_bg.png') ;
  background-repeat: no-repeat;
  background-position: top left , bottom right ;
}

/* Nav Styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav_title{
  font-weight: 800;
  font-size: 45px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 15px;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
}
/* Banner Styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner_content{
  max-width: 580px;
}
.banner_greetings{
  font-size: 40px;
  font-weight: 600;
}
.banner_title{
  font-weight: bold;
  font-size: 85px;
  line-height: 0;
}
.banner_description{
  font-size: 18px;
  font-weight: 400;
}
.banner_profile_pic{
  width: 580px;
  
}
/* main Style */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* About Section Style */
.about_section{
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 130px 150px;
  
}
.about_items{
  display: flex;
  justify-content: space-around;

}
.about_item{

}
.about_item_title{

}
.about_item_title_description{
  font-weight: 600;
}
/* What I  Do Section Style */
.skills{

}
.skill{
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px  rgba(0, 0, 0, 0.10);
  margin-top: 30px;
}
.skills_container{
  display: flex;
  justify-content: space-around;
  gap: 24px;
  

}
.skill_description{
  

}

